*, *::before, *::after {
    box-sizing: border-box;
}
@keyframes drop {
    0% {
        height: 0px;
   }
    100% {
        height: 45px;
   }
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #1c1b1b;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
img, .img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
.line {
    background-color: #7d7373;
    border-radius: 0;
    height: 3px;
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}
section {
    width: 100%;
    float: left;
    padding: 0 12%;
    padding-top: 50px;
}
header {
    display: inline;
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 25px 12%;
    z-index: 999;
}
header ul {
    list-style-type: none;
    float: right;
}
header ul a {
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}
header li {
    display: block;
    float: left;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}
header > div {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
header > div > div:first-of-type {
    margin-left: 15px;
    margin-right: 15px;
}
header > div > div:first-of-type > a {
    color: #fff;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -5px;
    text-decoration: none;
    position: relative;
}
header > div > div:last-of-type {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
}
header > div > div:last-of-type a {
    display: block;
    box-sizing: content-box;
    padding: 5px;
    width: inherit;
    color: white;
    transition: color 1s ease;
    position: relative;
}
header > div > div:last-of-type a:hover {
    color: gold;
}
header > div > div:last-of-type a:hover p {
    width: 100%;
    background: gold;
}
header > div > div:last-of-type p {
    margin: 0;
    position: absolute;
    content: '';
    background: white;
    height: 2px;
    width: 0%;
    transition: width 1s ease, background 1s ease;
}
header > div > div#links.hamburger {
    display: block;
}
header > div > div#links.hamburger > ul {
    list-style-type: initial;
    width: 50%;
    display: block;
    color: white;
    padding: 0;
}
header > div > div#links.hamburger > ul > li {
    background-color: black;
    float: none;
    padding: 0;
    height: 45px;
    text-align: center;
    line-height: 3;
    transition: 0.5s ease;
    opacity: 0.8;
    animation: drop 0.5s ease-in-out;
}
header > div > div#links.hamburger > ul > li > a {
    width: 100%;
    height: 100%;
    display: block;
}
header > div > div#links.hamburger > ul > li:hover {
    background-color: #737488;
}
header > div > p {
    border: #fff solid 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 15px;
    border-radius: 4px;
    padding: 5px 8px;
    color: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
#hero > div::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.92;
    background: linear-gradient(to right, #9cf, #3c9);
}
#hero > div {
    position: relative;
}
#hero > div img {
    width: 100%;
    height: 100%;
}
.heroClass {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: black;
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    top: 35%;
    text-align: center;
}
.heroClass > h1 {
    color: #fff;
    font-size: 50px;
    margin: 20px 0px;
    font-weight: 500;
}
.heroClass > h2 {
    font-size: 32px;
    line-height: 1.13;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
}
#about {
    background-color: grey;
}
#about > div {
    display: inline;
    float: left;
    text-align: center;
}
#about > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#about > div p {
    font-size: 20px;
    margin: 0 0 10px;
}
#counter {
    float: left;
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #9cf, #3c9);
}
#counter > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#counter > div h1 {
    font-size: 36px;
}
#counter > div > #timer {
    font-size: 68px;
    margin: 20px;
}
#services > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
}
#services > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#services > div p {
    font-size: 24px;
    margin: 0 0 10px;
}
#services > div img {
    border: none;
    max-width: 100%;
}
#konkurs > div {
    display: block;
    padding: 100px 0;
}
#konkurs > div .konkurs-wrapper {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
#konkurs > div .konkurs-wrapper h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#konkurs > div .konkurs-wrapper p {
    font-size: 20px;
    margin: 0 0 70px;
}
#konkurs > div .konkurs-wrapper a {
    text-decoration: none;
    background: linear-gradient(to right, #9cf, #3c9);
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 0 5px;
}
#konkurs > div img {
    border: none;
    max-width: 100%;
}
#portfolio {
    background-color: grey;
}
#portfolio > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
    margin-bottom: 50px;
}
#portfolio > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#portfolio > div p {
    font-size: 20px;
    margin: 0 0 10px;
}
#portfolio > div img {
    border: none;
    max-width: 100%;
}
#portfolio > ol {
    list-style-type: none;
    font-size: 18px;
    line-height: 2em;
    margin-top: 50px;
    display: flex;
   /* justify-content: center;
    */
    height: 150px;
    position: relative;
}
#portfolio > ol a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0 5px;
}
#portfolio > ol > li {
    background-image: url('https://webkod.pl/images/down.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    float: left;
    width: 350px;
    height: 80px;
    margin-right: 50px;
}
#portfolio > ol > li > ul {
    display: none;
    list-style-type: none;
    padding: 15px;
    margin: 10px;
    margin-top: -20px;
   /* margin-right: 80px;
    */
}
#portfolio > ol > li > ul > li {
    position: relative;
    background-color: #eee;
    list-style-type: none;
    z-index: 1;
    margin: 2px;
    background-image: url('https://webkod.pl/images/right.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    display: flex;
    align-items: center;
    min-height: 64px;
    max-height: 180px;
}
#portfolio > ol > li > ul > li > p {
    margin: 0;
}
#portfolio > ol > li > ul > li > ol {
    display: none;
   /* width: 40%;
    */
   /* position: absolute;
    */
    left: 85%;
   /* margin-top: -2em;
    */
    list-style-type: none;
    position: absolute;
}
#portfolio > ol > li > ul > li > ol > li {
    background-color: #ccc;
    list-style-type: none;
    margin: 2px;
    margin-left: 2px;
    margin-left: 10px;
    width: 150px;
}
#portfolio > ol > li > ul > li > ol > li > a {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    list-style-type: none;
}
#portfolio > ol > li > ul > li:hover > ol {
    display: block;
}
#portfolio > ol > li:hover > ul {
    display: block;
}
#portfolio li, ol a {
    border-radius: 6px;
}
#workshops img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
#sponsors > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
}
#sponsors > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#sponsors > div p {
    font-size: 20px;
    margin: 0 0 70px;
}
#sponsors div.sponsors-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
#sponsors div.sponsors-tiles > div {
    background-color: #ecf0f1;
    float: left;
    height: 250px;
    text-align: left;
    width: 30%;
    padding: 15px;
    margin: 20px 15px;
}
#sponsors div.sponsors-tiles > div div {
    height: 135px;
}
#sponsors div.sponsors-tiles > div:hover {
    background: linear-gradient(to right, #9cf, #3c9);
}
#sponsors div.sponsors-tiles a {
    text-decoration: none;
    float: left;
    text-align: center;
}
#sponsors div.sponsors-tiles img {
    z-index: -1;
}
#sponsors div.sponsors-tiles h4 {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    color: #000;
}
#honorPatronite > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
}
#honorPatronite > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#honorPatronite > div p {
    font-size: 20px;
    margin: 0 0 70px;
}
#honorPatronite .honor-wrapper {
    float: left;
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
}
#honorPatronite .honor-wrapper > div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    position: relative;
    width: 220px;
    padding: 20px;
    margin-bottom: auto;
    align-items: center;
}
#honorPatronite .honor-wrapper > div > div {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    top: 150px;
}
#medialPatronite {
    margin-top: 100px;
}
#medialPatronite > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
}
#medialPatronite > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#medialPatronite .medial-wrapper {
    vertical-align: middle;
    width: 80%;
    border: 1px solid;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
#medialPatronite .medial-wrapper > div {
    display: block;
    padding: 20px;
    margin: auto;
}
#contact > div {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 15px;
    width: inherit;
}
#contact > div h2 {
    color: #3fc35f;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    line-height: 1.13;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
#contact > div p {
    font-size: 20px;
    margin: 0 0 10px;
}
#contact > div .address-wrapper {
    position: inherit;
    text-align: center;
    margin: 70px 0;
}
#contact > div .address-wrapper h4 {
    color: #000;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact > div .address-wrapper address {
    padding-left: 0;
    margin-top: 15px;
    display: block;
    width: 100%;
    font-style: normal;
}
#contact > div .address-wrapper address > p {
    font-size: 16px;
}
#contact > div .address-wrapper address > p > i {
    margin-right: 10px;
}
#contact > div .address-wrapper a {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #333;
    width: 35px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    transition: 0.5s;
}
#contact > div .address-wrapper a > i {
    color: black;
    transition: 0.5s;
}
#contact > div .address-wrapper a:hover {
    border-color: #3c9;
}
#contact > div .address-wrapper a:hover > i {
    color: #3c9;
}
#map {
    padding: 0;
}
footer {
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    background-color: #c4c4c4;
}
footer > p {
    margin: 0;
}
@media screen and (min-width: 1225px) {
    header > div > p#hamburgerButton {
        display: none;
   }
}
@media screen and (max-width: 1224px) {
    header > div > div#links {
        display: none;
   }
    .heroClass h1 {
        font-size: 32px;
   }
    .heroClass h2 {
        font-size: 24px;
   }
    #sponsors div.sponsors-tiles > div {
        width: 45%;
   }
    #medialPatronite div.medial-wrapper {
        height: 415px;
   }
    #portfolio > ol > li > ul > li > ol {
        left: 80%;
   }
}
@media screen and (max-width: 980px) {
    #medialPatronite div.medial-wrapper {
        height: 560px;
   }
    #portfolio > ol > li > ul.show > li {
        max-height: 265px;
        width: 100%;
   }
    #portfolio > ol > li > ul.show > li > ol.show > li {
        width: 125px;
   }
}
@media screen and (max-width: 924px) {
    .heroClass h1 {
        font-size: 28px;
   }
    .heroClass h2 {
        font-size: 18px;
   }
    #sponsors div.sponsors-tiles {
        margin-left: 0;
        margin-right: 0;
   }
    #portfolio li a {
        font-size: 14px;
   }
    #portfolio > ol > li {
        margin: 5px;
   }
    #portfolio > ol > li > ul > li > ol {
        left: 70%;
   }
}
@media screen and (max-width: 424px) {
    header > div > div:first-of-type > a {
        font-size: 24px;
   }
    header > div > div#links.hamburger > ul {
        width: 100%;
   }
    #hero > div img {
        height: 300px;
   }
    .heroClass h1 {
        font-size: 18px;
   }
    .heroClass h2 {
        font-size: 14px;
   }
    #about div > p, #services div > p, #konkurs div.konkurs-wrapper > p, #portfolio div > p, #sponsors div > p {
        font-size: 16px;
   }
    #counter > div h1 {
        font-size: 28px;
   }
    #counter > div > p#timer {
        font-size: 26px;
   }
    #sponsors div.sponsors-tiles {
        margin-left: 0;
        margin-right: 0;
   }
    #sponsors div.sponsors-tiles > div {
        width: 95%;
   }
    #medialPatronite div.medial-wrapper {
        height: 1120px;
   }
    #honorPatronite .honor-wrapper {
        flex-direction: column;
        height: 725px;
   }
    #honorPatronite .honor-wrapper > div > div {
        display: none;
   }
    #portfolio > ol {
        line-height: normal;
        flex-direction: row;
        flex-wrap: wrap;
        height: 280px;
   }
    #portfolio li a {
        font-size: 12px;
   }
    #portfolio > ol > li > ul {
        margin-right: 80px;
        margin-left: 0;
        padding-left: 0;
   }
    #portfolio > ol > li > ul > li {
        font-size: 14px;
   }
    footer > p {
        font-size: 12px;
   }
    #portfolio > ol > li > ul.show {
        display: block;
   }
    #portfolio > ol > li > ul.show > li {
        width: 80%;
   }
    #portfolio > ol > li > ul.show > li > ol.show > li {
        width: 86px;
   }
}
#portfolio > ol > li > ul.show {
    display: block;
}
#portfolio > ol > li > ul.show > li {
    padding: 5px;
    display: flex;
    align-items: center;
}
#portfolio > ol > li > ul.show > li > ol.show {
    display: inline;
    margin-top: 0;
}
